.variables {
  --marker-animation: none;
}

.customLi::marker {
  animation: var(--marker-animation);
}

.codeBlock {
  animation: var(--marker-animation);
}

.smoothHeightTransition {
    overflow: hidden;
    transition: height 1s ease;
} 